<div class="col-md-offset-6">
<p id="flights"><%= radio_button_tag 'flight_id', flight.id, class: 'form-control' %>

<%= "From: #{flight.from_airport.code} - To: #{flight.to_airport.code}" %></p>
</div>
