/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 html {
    background: url('plane.jpg') fixed;

    background-size: cover;

    body {
    background: transparent;
    }
    .container {

    #searchTitle {
    text-align: center;
    }

    label {
    color: #152963;
    -webkit-text-stroke: 1px gray;
    -moz-text-stroke: 1px gray;
    text-stroke: 1px gray;
    font-weight: bold;
    font-size: 18px;
    }
    #airports1, #airports2, #date, #numpass {
    background: #0099FF;
    color: #fff;

    }
    #search {
    margin-top: 10px;
    }

    #avail {
    text-align: center;
    }
    #book {
    text-align: center;
    }

    h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: maroon;
    font-weight: bolder;
    font-size: 45px;
    }
    #flights {
    display: inline-block;
    color:#fff;
    font-weight: bold;
    margin-left: -30px;

    }
    .btn {
    border: 1px solid black;
    }

    #passInfo {
      text-align: center;
      color: #152963;
      opacity: .7;
      font-size: 40px;
      -webkit-text-stroke: 1px #fff;
      -moz-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
    }

    #email {
        margin-bottom: 10px;
      }
      .booking {
      border: 1px solid #fff;
      }

      p {
      font-size: 20px;
      }
      #info {
        color: #5540C9;
        font-weight: bold;
        font-size: 30px;
        -webkit-text-stroke: 1px gray;
        -moz-text-stroke: 1px gray;
        text-stroke: 1px gray;
      }
 }
 }
